@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #1e1f22;
	color: #ffff;
	width: 100%;
	font-family: "Yanone Kaffeesatz", sans-serif;
}
